
#skills-block {
    margin-top: $acf-block-spacing;
    .skills-col {
        margin-bottom: 2em;
    }
    
    .skills {
        
        box-shadow:$box-shadow;
        text-align: left;
        padding: 30px 40px 30px 40px;
        transition: 0.5s all ease-in-out;
        border-radius: 10px;
        min-height: 27.5em;
        
        
        h4 {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
            color: $textDefault;
        }

        p {
            margin-bottom: 22px;
            line-height: 28px;
            font-size: 16px;
        }

        img {
            width: 50px;
            height: auto;
            filter: invert(62%) sepia(39%) saturate(5962%) hue-rotate(175deg) brightness(100%) contrast(91%);
            margin-bottom: 29px;
            border-radius: 10px;
        }
    }
}

#projects-block {
    background-color: transparent;

    .project {
        box-shadow:$box-shadow;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    .project-body {
        color: $textDefault;
        padding-top: 16px;
        border-top: 2px solid rgb(26, 29, 35);
        font-weight: 400;
        font-family: $font-family-base;
        line-height: 30.4px;
        p {
            margin-bottom: 0;
        }
    }
}