.subtitle {
    letter-spacing: 1px;
    line-height: 14px;
    font-weight: 500;
    font-size: 18px;
    color: $headingsAccent;
}

.light-title {
    font-weight: 300;
    font-size: 16px;
}

.text-default {
    color: $textDefault;
}

mark {
    padding: 0;
}

.wp-social-link {
    margin-left: 1em;
    border: 2px solid #212428;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
}

.wp-social-link-instagram, .wp-social-link-linkedin, .wp-social-link-github  {
    background-color: $primary-bg!important;
}

.wpforms-block-0829cfdf-8004-472f-afa3-8f1e9b2274fa {
    
    .wpforms-field-container {
        box-shadow: $box-shadow;
        padding: 30px;
        border-radius: 10px;
        margin-top: $acf-block-spacing;
    }
    .wpforms-field-label {
        font-size: 12px;
        color: #a0a8b3;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: $headings-font-family;
        margin-bottom: 14px;

    }
}

.erick-img {
    
    order: 1;
    @media screen and (max-width: 991px)  {
        order:12;
    }
}

.about-col {
    order: 12;

    @media screen and (max-width: 991px)  {
        order:1;
    }
}

// Resume



 .rn-section-gap {
    padding: 50px 0 130px 0;
    .mt--40 {
        margin-top: 40px !important;
    }
    .mt--45 {
        margin-top: 45px !important;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .row>[class*=col] {
        padding-left: 15px;
        padding-right: 15px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        outline: none;
    }
    a:hover, a:focus, a:active {
        text-decoration: none;
        outline: none;
        color: $headingsAccent;
    }

    ul {
        margin: 16px 0;
        padding: 0 0 0 40px;
    }
    .row--40 {
        margin-left: -40px;
        margin-right: -40px;
    }

    .row--40>[class*=col], .row--40>[class*=col-] {
        padding-left: 40px;
        padding-right: 40px;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .section-separator {
        position: relative;
    }

    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
       }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
       }
    }
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
       }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
       }
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

    .section-separator::after {
        position: absolute;
        max-width: 1270px;
        height: 1px;
        background: #121415;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .section-title span.subtitle {
        color: $headingsAccent;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    .section-title h2.title {
        font-size: 60px;
        font-weight: 700;
        line-height: 1.2;
        color: $white;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .section-title span.subtitle {
        color: $headingsAccent;
        letter-spacing: 1px;
        display: block;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .rn-nav-list {
        border: 0 none;
        border-radius: 10px;
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        justify-content: space-between;

        .nav-item {
            flex-basis: 25%;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;

            .nav-link {
                color: #c4cfde;
                font-family: "Poppins", sans-serif;
                padding: 30px 10px;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 500;
                outline: none;
                border: 0 none;
                transition: all 0.5s;
                background: transparent;
                border-radius: 10px;
           }
       }
    }

    .rn-nav-list .nav-item .nav-link:hover, .rn-nav-list .nav-item .nav-link.active {
        color: $headingsAccent;
        background-color: transparent;
        border-color: transparent;
        border: 0 none;
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        ;
    }
    .personal-experience-inner .content span.subtitle {
        color: $headingsAccent;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .personal-experience-inner .content .maintitle {
        font-size: 36px;
        font-weight: 700;
        line-height: 62px;
        color: #c4cfde;
    }

    .personal-experience-inner .experience-list {
        padding-left: 31px;
        border-left: 5px solid #17191c;
    }

    .personal-experience-inner .experience-list .resume-single-list {
        position: relative;
        z-index: 2;
        margin-top: 50px;
        padding: 45px 40px;
        border-radius: 6px;
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        transition: 0.4s;
    }

    .personal-experience-inner .experience-list .resume-single-list::before {
        content: "";
        position: absolute;
        transition: 0.4s;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        top: 0;
        left: 0;
        background: linear-gradient(to right bottom, #212428, #16181c);
        opacity: 0;
        z-index: -1;
    }
    .personal-experience-inner .experience-list .resume-single-list .inner::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border: 5px solid #17191c;
        border-radius: 100%;
        right: 104%;
        top: 55px;
        transform: translateY(-7px);
        background: #222529;
        transition: 0.4s;
    }

    .personal-experience-inner .experience-list .resume-single-list .inner::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 5px;
        right: 100%;
        top: 63px;
        transform: translateY(-7px);
        background: #1b1c1d;
        z-index: 0;
    }

    .personal-experience-inner .experience-list .resume-single-list .inner .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #1a1d23;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .personal-experience-inner .experience-list .resume-single-list .inner .heading .title {
        margin-bottom: 15px;
    }

    .personal-experience-inner .experience-list .resume-single-list .inner .heading .title h4 {
        color: #c4cfde;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        line-height: 39px;
        margin-bottom: 7px;
        font-weight: 500;
        transition: 0.4s;
    }

    .personal-experience-inner .experience-list .resume-single-list .inner .heading .title span {
        color: #7c838e;
        display: block;
        font-size: 14px;
   }
    .personal-experience-inner .experience-list .resume-single-list .inner .heading .date-of-time {
        display: inline-block;
   }
    .personal-experience-inner .experience-list .resume-single-list .inner .heading .date-of-time span {
        color: $headingsAccent;
        display: block;
        font-size: 14px;
        padding: 0 15px;
        height: 36px;
        line-height: 36px;
        border-radius: 6px;
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        ;
        transition: 0.4s;
        font-weight: 500;
   }
    .personal-experience-inner .experience-list .resume-single-list .inner p {
        font-size: 18px;
        line-height: 28px;
        
        transition: 0.4s;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover {
        background: #212427;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover .inner .heading .title h4 {
        color: #ffffff;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover .inner .heading .date-of-time span {
        background: #1e2025;
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #222527;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover .inner .description {
        color: #c4cfde;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover .inner::after {
        background: $headingsAccent;
   }
    .personal-experience-inner .experience-list .resume-single-list:hover::before {
        opacity: 1;
   }
    .progress-charts {
        overflow: hidden;
        margin-top: 30px;
   }
    .progress-charts+.progress-charts {
        margin-top: 30px;
   }
    .progress-charts h6.heading {
        margin-bottom: 15px;
        color: #c3cedd;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.9;
        font-weight: 400;
   }
    .progress-charts .progress {
        height: 13px;
        overflow: visible;
        font-size: 14px;
        border-radius: 10px;
        padding: 3px;
        background: #212428;
        box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294), inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);
   }
    .progress-charts .progress .progress-bar {
        overflow: visible;
        position: relative;
        border-radius: 14px;
        background: $headingsAccent;
        background: linear-gradient(145deg, #A71D31 0%, #3F0D12 100%);
   }
    .progress-charts .progress .progress-bar span.percent-label {
        position: absolute;
        right: -7px;
        top: -22px;
        font-weight: 400;
        color: #c3cedd;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.9;
   }

    @media (prefers-reduced-motion: no-preference) {
        :root {
            scroll-behavior: auto;
       }
    }

    @media only screen and (min-width: 1200px) and (max-width: 1599px) {
        .row--40 {
            margin-left: -15px;
            margin-right: -15px;
        }

        .row--40>[class*=col], .row--40>[class*=col-] {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .row--40 {
            margin-left: -15px;
            margin-right: -15px;
        }

        .row--40>[class*=col], .row--40>[class*=col-] {
            padding-left: 15px;
            padding-right: 15px;
        }

        .section-title h2.title {
            font-size: 38px;
            line-height: 50px;
        }

        .personal-experience-inner .experience-list .resume-single-list {
            padding: 30px 25px;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner::after {
            right: 106%;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner .heading {
            display: block;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .rn-section-gap {
            padding: 80px 0;
        }

       .mt_md--60 {
            margin-top: 60px !important;
        }

        .row--40 {
            margin-left: -15px;
            margin-right: -15px;
        }

        .row--40>[class*=col], .row--40>[class*=col-] {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .section-title h2.title {
            font-size: 40px;
            margin-top: 7px;
        }

        .rn-nav-list {
            margin-top: 0;

            .nav-item {
                flex-basis: 25%;

                .nav-link {
                    padding: 25px 7px;
                    font-size: 14px;
                }
            }
        }

        .personal-experience-inner .content .maintitle {
            font-size: 30px;
        }

        .personal-experience-inner .experience-list .resume-single-list {
            padding: 30px;
        }
   
    }

    @media only screen and (max-width: 767px) {
        .rn-section-gap {
            padding: 80px 0;
       }

        .mt_sm--60 {
            margin-top: 60px !important;
        }

        .row--40 {
            margin-left: -15px !important;
            margin-right: -15px !important;
        }

        .row--40>[class*=col], .row--40>[class*=col-] {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .section-title h2.title {
            font-size: 40px;
        }

        .section-title.text-center span.subtitle {
            margin-bottom: 10px;
        }

        .rn-nav-list {
            margin-top: 0;

            .nav-item {
                flex-basis: 100%;
                .nav-link {
                    padding: 30px 6px;
                    padding: 18px 6px;
                    font-size: 13px;
               }
            }
        }

        .personal-experience-inner .experience-list {
            padding-left: 27px;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner .heading {
            display: block;
        }
    }

    @media only screen and (max-width: 575px) {
        .section-title h2.title {
            text-align: center;
            margin: 0;
            font-size: 34px;
        }

        .section-title span.subtitle {
            text-align: center;
        }

        .rn-nav-list {
            margin-top: 0;

            .nav-item {
                flex-basis: 100%;
            }
        }

        .personal-experience-inner .content .maintitle {
            font-size: 30px;
        }

        .personal-experience-inner .experience-list .resume-single-list {
            margin-top: 30px;
        }
    }

    @media only screen and (max-width: 479px) {
        .section-title.text-center span.subtitle {
            padding: 0 20px;
        }  
        
        .section-title span.subtitle {
            line-height: 24px;
            letter-spacing: 1px;
            text-align: center;
        }

        .nav-item {
            flex-basis: 100%;
        }

        .personal-experience-inner .content .maintitle {
            font-size: 24px;
        }

        .personal-experience-inner .experience-list {
            padding-left: 14px;
        }

        .personal-experience-inner .experience-list .resume-single-list {
            padding: 20px;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner::after {
            right: 102%;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner::before {
            width: 15px;
        }

        .personal-experience-inner .experience-list .resume-single-list .inner .heading .title h4 {
            font-size: 21px;
            line-height: 34px;
        }
    }
}

