// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

// Text Colors
$textDefault: rgb(196, 207, 222);
$white: #FFF;
$headingsDefault: $white;
$headingsAccent: #20A4F3;
$secondary: $textDefault;
$linkText: $textDefault;
$orange: #FA9E0D;

// Hover Colors
$primaryLinkHover: $headingsAccent;

// Background Colors
$primary-bg: #212428;
$primary: $primary-bg;
$offcanvas-bg-color: #183A6A;
$box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
// Typeography
$font-size-base: 1.125rem; //16px
$h1-font-size: $font-size-base * 3; //48px
$h2-font-size: $font-size-base * 2.5; //40px
$h3-font-size: $font-size-base * 1.875; //30px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.3125; //21px
$h6-font-size: $font-size-base * 1.125; // 18px

$line-height-base: 2; //25px

$spacer: 80px; //space between sections


.wp-block-group {
    margin-bottom: $spacer;
}
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;
$headings-line-height: 1.2;
$headings-font-weight: bold;
$headings-margin-bottom: 22px;
$headings-color: $headingsDefault;

$body-color: $textDefault;

$acf-block-spacing: 50px;

$link-color: $textDefault;
$link-decoration: none;
$link-hover-color: $primaryLinkHover;